* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gabarito', sans-serif;
}



header {
    background-color: #FFEBC9;
    border-radius: 14px 14px 0px 0px;
}

.logo {
    height: 125px;
    width: auto;
}

.navbar {
    overflow: hidden;
    background-color: #5C3D2E;
}

.navbar li {
    margin-right: 20px;
    /* Espacio entre elementos de la lista */
}

.nav-link:hover {
    text-decoration: underline;
    color: null !important
}

/* Estilo para los enlaces */
.navbar .nav-item .nav-link {

    color: #FFEBC9;
    border-radius: 14px 14px 14px 14px;
}

.active {
    background-color: #B85C38;
}

.imagen {
    height: auto;
    width: 100vh;
}






footer {
    padding: 10px;
    color: #FFEBC9;
    background-color: #5C3D2E;
    border-radius: 14px 14px 14px 14px;
}

.logofoot {
    height: 125px;
    width: auto;
}

.iconos {

    margin-top: 10px;
}

.iconos a {

    text-decoration-line: none;
    color: #FFEBC9;
    padding: 10px;
    font-size: 50px;
}