//archivo configuracion de estilos de footer
footer {
  padding: 10px;
  color: map-get($colores, primario);
  background-color: map-get($colores, secundario);
  border-radius: 14px 14px 0px 0px;

  a {
    text-decoration-line: none;
    color: map-get($colores, primario);

    &:hover {
      color: map-get($colores, terciario);
    }
  }
}

.logofoot {
  filter: brightness(0) invert(1) sepia(1) hue-rotate(30deg);
  margin-inline: auto;
}

.iconos {
  padding-top: 40px;

  a {
    padding: 10px;
    font-size: 50px;
  }

  @media (max-width: 991px) {
    padding-top: 0; // Elimina el padding-top en tamaños inferiores a "large" asi el footer no se ve con un espaciado de los iconos demasiado grande
  }
}