@import 'variables';

@mixin boton($cTexto, $cFondo) {
  background-color: $cFondo;
  color: $cTexto;
  border: none;

  &:hover {
    background-color: $secondary-color;
    color: $primary-color;
  }
}